body{
    background-image: url(https://images2.minutemediacdn.com/image/upload/c_crop,h_1079,w_1920,x_0,y_0/v1578604469/shape/mentalfloss/611940-youtube-jeopardy.jpg?itok=xRBuBHzU);
    color: white;
}
button{
    background-color: transparent;
    color: white;
}